template(name="groupwindow")
  .group-window
    .group-header
      .group-toggle(title="Ausblenden") {{> entypo "chevron-right"}}
      .group-name Analysis I
      .group-menu
        .button#chat.slcd(title="Chat") {{> entypo "typing"}}
        .button#checklist(title="Checkliste") {{> entypo "list"}}
        .button#members(title="Mitglieder") {{> entypo "users"}}
        .button#archive(title="Archiv") {{> entypo "archive"}}
        .button#settings(title="Einstellungen") {{> entypo "cog"}}
    
    .sections
      +chat
      
      +checklist
