template(name="sheetwindow")
  #sheetwindow
  
    .toolbar
      .tool(title="Vergrößern")
        i.mdi.mdi-plus-circle
      .tool(title="Verkleinern")
        i.mdi.mdi-minus-circle
      hr
      .tool(title="Rechteck")
        i.mdi.mdi-crop-square
      .tool(title="Kreis")
        i.mdi.mdi-checkbox-blank-circle-outline
      .tool(title="Stift")
        i.mdi.mdi-pencil
      .tool(title="Text")
        i.mdi.mdi-format-text
      .tool(title="Rückgängig")
        i.mdi.mdi-replay
      hr
      .tool(title="Alle Sheets")
        i.mdi.mdi-book-open-variant
      
    .new-sheet.showing
      .close-button(title="Schließen")
        i.mdi.mdi-close
      .header Füge ein Blatt hinzu
      .subheader Du kannst auch schnell per Drag&Drop hierher Bilder hochladen
      .qr-code-section
        i.mdi.mdi-cellphone-iphone
        i.mdi.mdi-qrcode-scan
        .info Scanne den QR-Code mit deinem Smartphone um ein Foto deines Blattes davon hochzuladen
        img(title="QR-Code mit dem Smartphone scannen" src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&bgcolor=f5f5f5&color=333&data=http://192.168.2.109:3000/addsheet/{{userId}}")
      .upload-section
        i.mdi.mdi-laptop-mac
        i.mdi.mdi-cloud-upload
        .info Oder klicke auf den Upload-Button um ein Bild von hier hochzuladen
        .upload-button 
          i.mdi.mdi-file-image
          br
          | Bild hochladen
        input(type="file" accept="image/*")
    .toolcircle-menu
      .toolcircle(title="Aktionen")
        i.mdi.mdi-plus
      .options
        .option.new-homework(title="Neue Hausaufgabe erstellen")
          i.mdi.mdi-book-open
        .option.new-page(title="Neue Seite hinzufügen")
          i.mdi.mdi-camera
        .option.replace(title="Jetzige Seite ersetzen")
          i.mdi.mdi-shuffle-variant
        .option.delete(title="Seite löschen")
          i.mdi.mdi-delete
