#sheetwindow
  position: fixed
  top: 60px
  left: 50px
  width: calc(100% - 326px)
  height: calc(100% - 60px)
  text-align: center
  transition: all 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3)

  &.expanded
    width: calc(100% - 86px)


  .toolbar
    position: fixed
    top: 60px
    left: 0
    width: 50px
    height: calc(100% - 60px)
    z-index: 1
    overflow: auto

    .tool
      margin: 13px 10px
      width: 30px
      height: 30px
      background-color: rgba(0, 0, 0, 0.3)
      font-size: 15px
      color: rgba(255, 255, 255, 0.5)
      text-align: center
      line-height: 30px
      border-radius: 50%
      cursor: pointer
      transition: all 0.3s
      &:hover
        background-color: rgba(0, 0, 0, 0.4)
        color: rgba(255, 255, 255, 0.8)

    hr
      width: 30px
      background-color: rgba(0, 0, 0, 0.2)

  .all-homeworks
    position: absolute
    padding: 50px 30px
    height: 100%
    width: 100%
    text-align: left
    overflow-y: scroll
    &.showing
      .homework
        transform: scale(1)
        opacity: 1
        pointer-events: auto
        transition-delay: 0.25s

    .homework
      display: inline-block
      vertical-align: top
      padding: 20px
      width: 140px
      height: 220px
      color: rgba(255, 255, 255, 0.5)
      //background-color: rgba(0, 0, 0, 0.25)
      font-size: 12px
      text-align: center
      transition: all 0.3s cubic-bezier(0.7, -0.3, 0.25, 1.3)
      transform: scale(0.9)
      opacity: 0
      pointer-events: none

      .sheet-thumbnails
        margin-bottom: 10px
        width: 100px
        height: 140px
        background-color: rgba(0, 0, 0, 0.25)
        border-radius: 4px
        box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.3)
        cursor: pointer
        transition: all 0.3s
        &:hover
          box-shadow: 0 0 25px -2px rgba(0, 0, 0, 0.4)
          background-color: rgba(0, 0, 0, 0.28)
          transform: scale(1.04)
          & + .name
            color: rgba(255, 255, 255, 0.8)
        &:active
          box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.4)
          transform: scale(1.02)
          transition: transform 0.08s

      .name
        transition: all 0.3s


  .sheetmodal
    position: absolute
    margin-top: 100vh
    margin-left: 50%
    transform: translateX(-50%)
    padding-top: 40px
    width: 80%
    max-width: 900px
    height: 100vh
    background-color: #fff
    color: #888
    border-radius: 10px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
    z-index: 1
    transition: all 0.4s cubic-bezier(0.7, -0.3, 0.25, 1.3)

    &.showing
      margin-top: 70px

    .close-button
      position: absolute
      top: 10px
      right: 10px
      width: 35px
      height: 35px
      color: #f66
      font-size: 18px
      text-align: center
      line-height: 37px
      border-radius: 50%
      cursor: pointer
      transition: all 0.3s
      &:hover
        background-color: rgba(255, 255, 255, 0.5)
        box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2)
      &:active
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2)
        transition: all 0.1s

    .header
      padding: 0 20px
      margin-bottom: 30px
      color: #444
      font-size: 25px

      .subheader
        font-size: 16px
        color: #aaa

    .create-homework-section
      padding-top: 25px

      input
        text-align: center
        width: 80%
        max-width: 170px
        border-bottom: solid 1px #ccc
        transition: all 0.3s
        &:focus
          border-color: #0cf

      #homeworkNameInput
        max-width: 382px

      small
        display: inline-block
        margin-bottom: 30px
        font-size: 12px
        color: #cfcfcf

      i
        color: #09f
        width: 35px

      button
        margin-top: 80px
        padding: 10px 20px
        background: linear-gradient(#0c7 0%, #0f7 100%)
        color: rgba(0, 0, 0, 0.4)
        text-align: center
        font-size: 14px
        border: none
        border-radius: 5px
        outline: none
        cursor: pointer
        transition: opacity 0.3s
        &:hover
          opacity: 0.8

    .qr-code-section
      display: inline-block
      margin-top: 20px
      padding: 20px
      width: 45%
      font-size: 13px
      @media screen and (max-width: 1000px)
        width: 90%
        max-width: 300px
        margin-top: -20px

        i.mdi
          font-size: 20px !important

        img
          margin-top: 15px !important
          height: 80px

      i.mdi
        margin-bottom: 10px
        color: #888
        font-size: 27px

      img
        margin-top: 30px

    .upload-section
      display: inline-block
      vertical-align: top
      padding: 40px 20px 20px
      width: 45%
      font-size: 13px

      @media screen and (max-width: 1000px)
        width: 90%
        max-width: 300px
        padding-top: 0px

        i.mdi
          font-size: 20px !important

        .upload-button
          margin-top: 15px !important
          padding-top: 10px !important
          width: 80px !important
          height: 80px !important
          font-size: 8px

          i
            font-size: 27px !important

      i.mdi
        margin-bottom: 10px
        color: #888
        font-size: 27px

      .upload-button
        display: inline-block
        margin-top: 30px
        padding: 25px 10px 5px
        width: 100px
        height: 100px
        background: linear-gradient(#0c7 0%, #0f7 100%)
        color: rgba(0, 0, 0, 0.5)
        font-size: 9px
        border-radius: 5px
        cursor: pointer
        transition: all 0.3s
        &:hover
          opacity: 0.8

        i.mdi
          margin-bottom: 5px
          color: #fff
          font-size: 32px

      input
        display: none



  .toolcircle-menu
    display: inline-block
    position: fixed
    bottom: -10px
    margin: 0 auto
    z-index: 10

    .toolcircle
      margin-left: -25px
      padding-left: 1px
      width: 50px
      height: 50px
      background-color: #fff
      color: #09f
      font-size: 20px
      text-align: center
      line-height: 51px
      border-radius: 50%
      box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3)
      cursor: pointer
      z-index: 1
      transition: all 0.3s 0.1s

      &:hover
        margin-bottom: 7px
        background-color: #fff
        box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4)

      &:active
        margin-bottom: 5px
        box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.2)

      &.close
        margin-bottom: 7px
        color: #fff
        background-color: rgba(255, 50, 50, 0.8)
        transform: rotate(135deg)

        &:hover
          color: #fff
          background-color: rgba(255, 50, 50, 0.9)

        &:active
          margin-bottom: 5px
          box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.2)

      i.mdi
        margin: 1px 0 0 -1px

    .options
      position: absolute
      margin-left: -125px
      width: 250px

      .option
        position: relative
        display: inline-block
        top: 100px
        width: 35px
        height: 35px
        background-color: rgba(255, 255, 255, 0.96)
        color: #778
        font-size: 13px
        text-align: center
        line-height: 35px
        border-radius: 50%
        box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2)
        cursor: pointer
        &:hover
          background-color: #fff
          color: #09f
          box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.3)

        &.new-homework
          margin-right: -10px
          transition: all 0.3s, top 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3)

        &.new-image
          margin-right: 5px
          transition: all 0.3s, top 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3) 0.05s

        &.new-page
          margin-right: 5px
          transition: all 0.3s, top 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3) 0.1s

        &.replace
          margin-right: -10px
          transition: all 0.3s, top 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3) 0.15s

        &.delete
          transition: all 0.3s, top 0.35s cubic-bezier(0.7, -0.3, 0.25, 1.3) 0.2s


      &.showing
        .new-homework, .delete
          top: -65px
        .new-image, .replace
          top: -100px
        .new-page
          top: -113px
