body
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAClJREFUGBljNDF3+c9ABGACqfnx/QtBpWCFHJw8xCkkqAqoAGziiFMIAPmVBMISQGCZAAAAAElFTkSuQmCC)
  background-attachment: fixed

header
  margin: 20px 20px 0
  width: calc(100% - 40px)
  height: 600px
  background-image: url(/images/header.jpg)
  background-position: center bottom
  background-size: cover
  background-attachment: fixed
  color: #fff
  text-align: center
  border-radius: 5px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

  .top-menu
    position: absolute
    padding: 15px
    width: calc(100% - 40px)
    color: #fff
    transition: all 0.3s
    z-index: 10

    .symbol
      position: absolute
      display: inline-block
      margin-top: 5px
      left: calc(50vw - 35px)
      cursor: pointer

      img
        float: left
        height: 25px

    &.tinted
      background-color: rgba(0, 175, 255, 0.9)


    .burger
      display: none
      float: left
      margin-top: -5px
      font-size: 25px
      cursor: pointer
      @media screen and (max-width: 740px)
        display: inline-block

    nav
      float: left
      display: inline-block
      margin: 8px 0
      text-align: right
      @media screen and (max-width: 740px)
        display: none

      a
        margin: 0 5px
        padding: 5px 10px
        background-color: transparent
        color: #fff
        font-weight: 400
        text-decoration: none
        border-radius: 5px
        &:hover
          background-color: rgba(255, 255, 255, 0.2)

    button.login-button
      float: right
      padding: 5px 10px
      background-color: rgba(255, 255, 255, 0.3)
      color: #fff
      font-size: 16px
      border: none
      border-radius: 5px
      cursor: pointer
      transition: all 0.3s
      &:hover
        background-color: rgba(255, 255, 255, 0.4)

      i
        margin-right: 5px

  h1
    display: inline-block
    margin: 130px 0 0 0
    font-family: "Pacifico"
    font-size: 60px
    @media screen and (max-width: 500px)
      font-size: 40px
      margin-top: 70px

    .beta
      margin: -85px 0 0 300px
      color: #000
      font-size: 22px
      font-weight: 200
      opacity: 0.3
      @media screen and (max-width: 500px)
        margin: -65px 0 0 205px
        font-size: 18px

  hr
    margin: 70px auto 0
    width: 50%
    height: 1px
    background-color: #fff
    border: none
    opacity: 0.3
    @media screen and (max-width: 700px)
      width: 80%

  p
    margin-top: 20px
    font-size: 16px
    @media screen and (max-width: 500px)
      padding: 20px

  button.join-button
    margin-top: 30px
    padding: 15px 40px 17px
    background-color: rgba(255, 255, 255, 0.3)
    color: #fff !important
    font-size: 22px
    border: none
    border-radius: 10px
    cursor: pointer
    transition: all 0.3s
    &:hover
      background-color: rgba(255, 255, 255, 0.4)

  .or-login
    margin-top: 10px

    .or
      display: inline
      opacity: 0.9

    a
      color: #fff
      font-weight: 500
      text-decoration: underline
      cursor: pointer
      transition: all 0.3s
      &:hover
        opacity: 0.8
.content
  section
    width: 100vw
    padding: 30px
    text-align: center

    h2
      margin: 20 auto 40px 10px
      color: #777
      font-size: 22px
      font-weight: 300
      letter-spacing: 20px

    .laptop
      display: inline-block
      margin: -100px auto 0
      width: 90vw
      max-width: 1000px
      @media screen and (max-width: 970px)
        width: 80vw

      img
        width: 100%

    &#pricing
      color: #fff
      background-color: #0c7
      h2
        color: #fff
      .package
        display: inline-block
        margin: 30px 0 10px
        max-width: 350px
        width: 80vw
        height: 400px
        color: #666
        border-radius: 5px
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
        overflow: hidden

        &.light
          margin-right: 20px
          .header
            background: rgba(255, 255, 255, 0.4)
            .cost
              color: rgba(0, 0, 0, 0.5)

        .header
          padding: 20px 0 0
          background: rgba(0, 0, 0, 0.5)
          color: #fff
          font-size: 20px

          .cost
            margin-top: 15px
            padding: 10px 0
            width: 100%
            background: rgba(0, 0, 0, 0.2)
            color: rgba(255, 255, 255, 0.6)
            font-size: 13px

        .content
          padding: 30px 0
          width: 100%
          height: calc(400px - 84px)
          background-color: #fff

          .row
            margin: 0 auto
            padding: 5px 0
            width: 90%
            font-size: 13px
            line-height: 30px
            border-bottom: solid 1px #eee
            &:nth-of-type(4)
              border-bottom: none

          .check
            margin: 5px auto 0
            width: 25px
            height: 25px
            color: #0d7
            font-size: 15px
            text-align: center
            line-height: 25px
            border: solid 1px #ccc
            border-radius: 5px
            transition: all 0.4s
            svg.icon
              opacity: 0
              transition: all 0.4s

          .package-info
            margin-top: 5px
            font-size: 11px
            color: #ccc
            transition: all 0.4s

        &.slcd
          .check
            border-color: #0d7
            svg.icon
              opacity: 1

          .package-info
            color: #0d7

.dark-background
  position: fixed
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  cursor: pointer
  z-index: 50

.popup
  position: fixed
  display: none
  top: 50%
  left: 50%
  margin: -200px 0 0 -300px
  width: 600px
  height: 400px
  background-color: #fff
  border-radius: 5px
  box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.7)
  overflow: hidden
  z-index: 51
  @media screen and (max-width: 667px)
    top: 0px !important
    left: 50% !important
    margin-left: -50% !important
    margin: 0 !important
    width: 100% !important
    height: 100% !important
    border-radius: 0


  &.login-popup, &.join-popup
    width: 400px !important
    margin-left: -200px !important
    text-align: center
    @media screen and (max-height: 400px)
      overflow-y: scroll
  &.login-popup
    margin-top: -186px
    height: 372px
  &.join-popup
    margin-top: -208px
    height: 416px

  .popup-header
    position: relative
    width: 100%
    height: 50px
    color: #09f
    font-size: 20px
    text-align: center
    line-height: 50px

    .popup-close
      position: absolute
      top: 16px
      right: 15px
      height: 17px
      color: #f66
      font-size: 17px
      cursor: pointer
      overflow: hidden
      transition: all 0.3s
      &:hover
        opacity: 0.7

      i.mdi
        vertical-align: top

  .popup-content
    margin: 0 auto
    width: 400px
    @media screen and (max-width: 667px)
      margin-top: 30px
      width: 80%

  input
    display: inline-block
    margin: 2px auto
    padding: 10px 20px
    max-width: 250px
    width: 80%
    height: 40px
    text-align: center
    border-bottom: solid 1px #ddd !important
    border-radius: none
    &:focus
      border-bottom-color: #0cf !important

  .login-with
    color: #aaa
    margin-bottom: 5px

  .login-button
    display: inline-block
    margin: 5px auto
    padding: 10px 0
    width: 80px
    border: 0
    color: #fff
    font-size: 13px
    font-weight: 400
    border-radius: 5px
    cursor: pointer
    transition: all 0.3s
    &.signup, &.login
      margin: 20px
      max-width: 250px
      width: 80%
      background: linear-gradient(#09f 0%, #0cf 100%)
      font-size: 15px
    &.facebook
      background-color: #3b5998
    &.twitter
      background-color: #55acee
    &.google
      background-color: #dd4b39
    &:hover
      opacity: 0.8
