template(name="landing")
  header
    .top-menu
      .burger(title="Menü") {{> entypo "menu"}}
      nav
        a(href="#") Features
        a(href="#") Preise
        a(href="#") Blog
        a(href="#") Kontakt
      .symbol
        img(src="/images/symbol.png" title="Sheetshare")
      button.login-button {{> entypo "user"}} Login
      
    h1 Sheetshare
      .beta ßeta
    hr
    p Hey du. Ja du! <br> Du musst deine Hausaufgaben in einer Gruppe machen? <br>
      | Dann ist Sheetshare das perfekte Werkzeug für dich.
    a(href="#")
      button.join-button Jetzt beitreten
    .or-login
      .or oder
      a einloggen
  
  .content
    section(id="about")
      .laptop
        img(src="/images/mbp.png")
      
    section(id="features")
      h2 Features
        
    section(id="pricing")
      h2 Preise
      .package.light
        .header Light
          .cost 0.00€ / Monat
        .content
          .row 1 Gruppe erstellen
          .row Mitlied in 2 Gruppen
          .row Nicht so viel ...
          .check {{> entypo "check"}}
          .package-info Immer gratis
      .package.premium
        .header Premium
          .cost 3.00€ / Monat
        .content
          .row So viele du willst
          .row Unbegrenzt
          .row Personalisierung
          .check {{> entypo "check"}}
          .package-info 1. Monat gratis
        
    section(id="contact")
      h2 Kontakt


  footer
    img.footer-logo(src="/images/symbol.png")
    .links
      .links-group
        a(href="#") {{> entypo "star"}} Features
        a(href="#") {{> entypo "wallet"}} Preise
        a(href="#") {{> entypo "news"}} Blog
        a(href="#") {{> entypo "v-card"}} Kontakt
      hr
      .links-group
        a(href="#") {{> entypo "newsletter"}} Impressum
        a(href="#") {{> entypo "text-document-inverted"}} AGB
        a(href="#") {{> entypo "key"}} Privatsphäre
        a(href="#") {{> entypo "help"}} Hilfe
    .social-links
      a(href="http://facebook.com", target="_blank", title="Facebook").link.facebook
       | {{> entypo "facebook"}}
      a(href="http://twitter.com", target="_blank", title="Twitter").link.twitter
        | {{> entypo "twitter"}}
      a(href="http://instagram.com", target="_blank", title="Instagram").link.instagram
       | {{> entypo "instagram"}}
    .made-by
      .code {{> entypo "code"}}
      | with
      .heart {{> entypo "heart"}}
      | by Tobiasz Walczak in Berlin
    
  .dark-background
    
  .popup.login-popup
    .popup-header Login
      .popup-close(title="Schließen") {{> entypo "cross"}}
    .popup-content
      form#login-form
        input#email(type="email" placeholder="Email")
        input#password(type="password" placeholder="Passwort")
        button.login-button.login(type="submit") {{> entypo "chevron-thin-right"}}
      .login-with Anmelden mit:
      button.login-button.facebook Facebook
      button.login-button.twitter Twitter
      button.login-button.google Google

  .popup.join-popup
    .popup-header Beitreten
      .popup-close(title="Schließen") {{> entypo "cross"}}
    .popup-content
      form#signup-form
        input#name(type="text" placeholder="Name")
        input#email(type="email" placeholder="Email")
        input#password(type="password" placeholder="Passwort")
        button.login-button.signup(type="submit") {{> entypo "chevron-thin-right"}}
      .login-with Anmelden mit:
      button.login-button.facebook Facebook
      button.login-button.twitter Twitter
      button.login-button.google Google
        
      
      
