template(name="landing")
  header
    .top-menu
      .burger(title="Menü")
        i.mdi.mdi-menu
      nav
        a(href="#") Features
        a(href="#") Preise
        a(href="#") Blog
        a(href="#") Kontakt
      .symbol
        img(src="/images/symbol.png" title="Sheetshare")
      button.login-button <i class="mdi mdi-account-circle"></i> Login
      
    h1 Sheetshare
      .beta ßeta
    hr
    p Hey du. Ja du! <br> Du musst deine Hausaufgaben in einer Gruppe machen? <br>
      | Dann ist Sheetshare das perfekte Werkzeug für dich.
    a(href="#")
      button.join-button Jetzt beitreten
    .or-login
      .or oder
      a einloggen
  
  .content
    section(id="about")
      .laptop
        img(src="/images/mbp.png")
      
    section(id="features")
      h2 Features
        
    section(id="pricing")
      h2 Preise
      .package.light
        .header Light
          .cost 0.00€ / Monat
        .content
          .row 1 Gruppe erstellen
          .row Mitlied in 2 Gruppen
          .row Nicht so viel ...
          br
          .check
            i.mdi.mdi-check
          .package-info Immer gratis
      .package.premium
        .header Premium
          .cost 3.00€ / Monat
        .content
          .row So viele du willst
          .row Unbegrenzt
          .row Personalisierung
          br
          .check
            i.mdi.mdi-check
          .package-info 1. Monat gratis
        
    section(id="contact")
      h2 Kontakt


  footer
    img.footer-logo(src="/images/symbol.png")
    .links
      .links-group
        a(href="#") <i class="mdi mdi-star"></i> Features
        a(href="#") <i class="mdi mdi-wallet"></i> Preise
        a(href="#") <i class="mdi mdi-blogger"></i> Blog
        a(href="#") <i class="mdi mdi-contact-mail"></i> Kontakt
      hr
      .links-group
        a(href="#") <i class="mdi mdi-file-document-box"></i> Impressum
        a(href="#") <i class="mdi mdi-file-document-box"></i> AGB
        a(href="#") <i class="mdi mdi-lock"></i> Privatsphäre
        a(href="#") <i class="mdi mdi-help"></i> Hilfe
    .social-links
      a(href="http://facebook.com", target="_blank", title="Facebook").link.facebook
       i.mdi.mdi-facebook
      a(href="http://twitter.com", target="_blank", title="Twitter").link.twitter
        i.mdi.mdi-twitter
      a(href="http://instagram.com", target="_blank", title="Instagram").link.instagram
       i.mdi.mdi-instagram
    .made-by
      .code
        i.mdi.mdi-code-tags
      | with
      .heart
        i.mdi.mdi-heart
      | by Tobiasz Walczak in Berlin
    
  .dark-background
    
  .popup.login-popup
    .popup-header Login
      .popup-close(title="Schließen")
        i.mdi.mdi-close
    .popup-content
      form#login-form
        input#email(type="email" placeholder="Email")
        input#password(type="password" placeholder="Passwort")
        button.login-button.login(type="submit")
          i.mdi.mdi-chevron-right
      .login-with Anmelden mit:
      button.login-button.facebook
        i.mdi.mdi-facebook
      button.login-button.twitter
        i.mdi.mdi-twitter
      button.login-button.google
        i.mdi.mdi-google

  .popup.join-popup
    .popup-header Beitreten
      .popup-close(title="Schließen")
        i.mdi.mdi-close
    .popup-content
      form#signup-form
        input#name(type="text" placeholder="Name")
        input#email(type="email" placeholder="Email")
        input#password(type="password" placeholder="Passwort")
        button.login-button.signup(type="submit")
          i.mdi.mdi-chevron-right
      .login-with Anmelden mit:
      button.login-button.facebook
        i.mdi.mdi-facebook
      button.login-button.twitter
        i.mdi.mdi-twitter
      button.login-button.google
        i.mdi.mdi-google
        
      
      
