template(name="menus")
  #menus
  
    .menu.groupmenu
      i.big-icon.mdi.mdi-account-multiple
      .grouplist
        each groups
          .groupitem(data-id="{{_id}}")
            .name {{name}}
            .sheetcount {{sheetcount}}
              i.mdi.mdi-file-outline
            .membercount {{membercount}}
              i.mdi.mdi-account
            
    .menu.newgroupmenu
      i.big-icon.mdi.mdi-account-multiple-plus
      form
        input(type="text" placeholder="Name deiner Gruppe")
        textarea(placeholder="Emails der Mitgleider (mit ',' getrennt)")
        .known-users 
          .heading Bekannte:
          .scroll-container
            .scroller
              each knownUsers
                if other
                  .user(title="{{ profile.name }}")
                    img(src="{{ profile.image }}")
                    .name {{ firstName }}
        button
          i.mdi.mdi-plus

                    
    .menu.notificationmenu
      i.big-icon.mdi.mdi-bell
      if notifications
        .invitations
          each invitations
            .invitation(data-id="{{_id}}" data-name="{{group.name}}")
              .message
                b {{creator.profile.name}}
                | hat dich zur Gruppe
                b {{group.name}}
                | eingeladen.
              .question Beitreten?
                .options
                  i.accept.mdi.mdi-check(title="Annehmen")
                  i.decline.mdi.mdi-close(title="Ablehnen")
      else
        .nothing Du hast zurzeit keine neuen Benachrichtigungen.
                      
                      
    .menu.profilemenu
      .share(title="Profil teilen")
        i.mdi.mdi-launch
      img.profileimage(src="{{currentUser.profile.image}}" title= currentUser.profile.name)
      .name= currentUser.profile.name
      .button
        i.mdi.mdi-account-circle
        .label Profil
      .button
        i.mdi.mdi-settings
        .label Einstellungen
      .button
        i.mdi.mdi-chart-line
        .label Statistiken
      .button.logout
        i.mdi.mdi-logout
        .label Logout
      .button.upgrade Upgraden
      hr
      footer
        a(href="#") Info
        a(href="#") Kontakt
        a(href="#") AGB
        a(href="#") Privats.
        a(href="#") Hilfe
        a(href="#") Blog
        
    .anything-else
