template(name="menus")
  #menus
  
    .menu.groupmenu
      .grouplist
        each groups
          .groupitem
            .name(data-id="{{_id}}") {{name}}
            .sheetcount {{sheetcount}} <i class="mdi mdi-file"></i>
            .membercount {{membercount}} <i class="mdi mdi-account"></i>
            
    .menu.profilemenu
      .share(title="Profil teilen")
        i.mdi.mdi-launch
      img.profileimage(src="{{currentUser.profile.image}}" title= currentUser.profile.name)
      .name= currentUser.profile.name
      .button
        i.mdi.mdi-account-circle
        .label Profil
      .button
        i.mdi.mdi-settings
        .label Einstellungen
      .button
        i.mdi.mdi-chart-line
        .label Statistiken
      .button.logout
        i.mdi.mdi-logout
        .label Logout
      .button.upgrade Upgraden
      hr
      footer
        a(href="#") Info
        a(href="#") Kontakt
        a(href="#") AGB
        a(href="#") Privats.
        a(href="#") Hilfe
        a(href="#") Blog
        
    .anything-else
