template(name="sheetwindow")
  #sheetwindow
    .toolcircle-menu
      .toolcircle {{> entypo "plus"}}
      .options
        .option.new-homework(title="Neue Hausaufgabe erstellen") {{> entypo "add-to-list"}}
        .option.new-page(title="Neue Seite hinzufügen") {{> entypo "map"}}
        .option.replace(title="Jetzige Seite ersetzen") {{> entypo "shuffle"}}
        .option.delete(title="Seite löschen") {{> entypo "trash"}}
