template(name="home")
  .top-bar
    .logo
      .symbol
      .sheetshare Sheetshare
      .beta ßeta
    .top-menu
      .button(title="Meine Gruppen")
        .text Meine Gruppen 
        .symbol {{> entypo "grid"}}
      .button(title="Neue Gruppe")
        .text Neue Gruppe 
        .symbol {{> entypo "squared-plus"}}
      .button(title="Mitteilungen")
        .text Mitteilungen 
        .symbol {{> entypo "flash"}}
      .button.profile-button
        | {{> entypo "chevron-down"}}
        .name {{currentUser.profile.name}}
        img.profileimage(src="{{currentUser.profile.image}}" title= currentUser.profile.name)
  
  +menus
  
  .background
  
  .toolbar
    .tool(title="Vergrößern") {{> entypo "circle-with-plus"}}
    .tool(title="Verkleinern") {{> entypo "circle-with-minus"}}
    hr
    .tool(title="Text") {{> entypo "text"}}
    .tool(title="Rechteck") {{> entypo "popup"}}
    .tool(title="Stift") {{> entypo "pencil"}}
    .tool(title="Rückgängig") {{> entypo "back"}}
    hr
    .tool(title="Alle Sheets") {{> entypo "grid"}}
    
  +sheetwindow
    
  +groupwindow
    
  .dark-background(title="Fenster schließen")
    
  +firstlogin
