template(name="members")
  section.members
    
    .add-member-button(title="Gruppenmitglied hinzufügen")
      i.mdi.mdi-account-plus
      form
        input(type="email" placeholder="Email Addresse")
      .known-users 
        .heading Bekannte:
        .scroll-container
          .scroller
            each knownUsers
              if other
                .user(title="{{ profile.name }}" data-id="{{ _id }}")
                  img(src="{{ profile.image }}")
                  .name {{ firstName }}
                  
    
    each members
      .member-card
        img.profile-image(src="{{ profile.image }}")
        .info
          .name(title="{{ profile.name }}") {{ profile.name }}
          .email(title="{{ profile.email }}") {{ profile.email }}
          
          if status.online
            if status.idle
              .status.idle Abwesend
            else
              .status.online Online
          else
            .status.offline Offline
            
        // if isAdmin?
        if other
          .remove-member-button(title="Mitglied aus Gruppe entfernen")
            i.mdi.mdi-close-circle
