template(name="app")
  #app
    .top-bar
      .logo
        .symbol
        .sheetshare Sheetshare
        .beta ßeta
      .top-menu
        .button.group-button(title="Meine Gruppen")
          .text Meine Gruppen 
          i.mdi.mdi-account-multiple
        .button(title="Gruppe erstellen")
          .text Gruppe erstellen
          i.mdi.mdi-account-multiple-plus
        .button(title="Mitteilungen")
          .text Mitteilungen 
          i.mdi.mdi-bell
        .button.profile-button
          i.mdi.mdi-chevron-down
          .name {{currentUser.profile.name}}
          img.profileimage(src="{{currentUser.profile.image}}" title= currentUser.profile.name)
        .fullscreen-button(title="Vollbildmodus")
          i.mdi.mdi-fullscreen
    
    +menus
    
    .toolbar
      .tool(title="Vergrößern")
        i.mdi.mdi-plus-circle
      .tool(title="Verkleinern")
        i.mdi.mdi-minus-circle
      hr
      .tool(title="Rechteck")
        i.mdi.mdi-crop-square
      .tool(title="Kreis")
        i.mdi.mdi-checkbox-blank-circle-outline
      .tool(title="Stift")
        i.mdi.mdi-pencil
      .tool(title="Text")
        i.mdi.mdi-format-text
      .tool(title="Rückgängig")
        i.mdi.mdi-replay
      hr
      .tool(title="Alle Sheets")
        i.mdi.mdi-book-open-variant
      
    +sheetwindow
      
    +groupwindow

    +popups
