template(name="chat")
  section.chat.slcd
    if messagesExist
      each messages
        unless other
          if typeText
            .message
              unless justEmojis
                img.profileimage(src="{{creator.profile.image}}" title="Du\n{{moment}}")
                .bubble {{#autolink}} {{#emoji}} {{text}} {{/emoji}} {{/autolink}}
              else
                img.profileimage(src="{{creator.profile.image}}" title="Du\n{{moment}}")
                .justemojis {{#emoji}} {{text}} {{/emoji}}
          else if typeImage
            .message
              img.profileimage(src="{{creator.profile.image}}" title="Du\n{{moment}}")
              .image(title="{{image.name}}")
                img(src="{{image.url}}")
          else if typeLatex
            .message
              img.profileimage(src="{{creator.profile.image}}" title="Du\n{{moment}}")
              .latex-formula
                img(src="http://latex.codecogs.com/gif.latex?{{text}}" title="{{text}}")
        else
          if typeText
            .message.other
              unless justEmojis
                img.profileimage(src="{{creator.profile.image}}" title="{{creator.profile.name}} • {{onlineStatusName creator }}\n{{moment}}")
                .online-status(class="{{onlineStatusIndicator creator}}")
                .bubble {{#autolink}} {{#emoji}} {{text}} {{/emoji}} {{/autolink}}
              else
                img.profileimage(src="{{creator.profile.image}}" title="{{creator.profile.name}} • {{onlineStatusName creator }}\n{{moment}}")
                .online-status(class="{{onlineStatusIndicator creator}}")
                .justemojis {{#emoji}} {{text}} {{/emoji}}
          else if typeImage
            .message.other
              img.profileimage(src="{{creator.profile.image}}" title="{{creator.profile.name}} • {{onlineStatusName creator }}\n{{moment}}")
              .online-status(class="{{onlineStatusIndicator creator}}")
              .image(title="{{image.name}}")
                img(src="{{image.url}}")
          else if typeLatex
            .message.other
              img.profileimage(src="{{creator.profile.image}}" title="{{creator.profile.name}} • {{onlineStatusName creator }}\n{{moment}}")
              .online-status(class="{{onlineStatusIndicator creator}}")
              .latex-formula
                img(src="http://latex.codecogs.com/gif.latex?{{text}}" title="{{text}}")

      each users
        if other
          if isTyping
            .message.other
              img.profileimage(src="{{this.profile.image}}" title="{{this.profile.name}} • {{onlineStatusName this }}")
              img.isTyping(src="images/is-typing.gif")        
    else
      .placeholder Sei der Erste<br>und schreib 'ne Nachricht
        .emojis {{> emoji ":grin::speech_balloon:"}}
        
          
    textarea#chat-textarea(rows="1" placeholder="Schreibe eine Nachricht ...")
    .widget-button.emojis-button(title="Emojis" data-widget="emojis")
      i.mdi.mdi-emoticon
    .widget-button.more-button(title="Mehr" data-widget="more")
      i.mdi.mdi-dots-horizontal
    
    .chat-widget.more-widget
      input.image-upload(type="file")
      .button.image-button(title="Bild")
        i.mdi.mdi-image
      .button.code-button(title="Code")
        i.mdi.mdi-code-tags
      .button.latex-button(title="LaTeX-Formel")
        i.mdi.mdi-sigma
      .button.file-button(title="Andere Dateien")
        i.mdi.mdi-folder-outline
    
    .chat-widget.emojis-widget
      +emoji
      
        .emoji-category <i class="mdi mdi-account-circle"></i><br> Personen
        each emojis.people
          .emoji-tag(title= this) :{{this}}:
        .emoji-category <i class="mdi mdi-flower"></i><br> Natur
        each emojis.nature
          .emoji-tag(title= this) :{{this}}:
        .emoji-category <i class="mdi mdi-archive"></i><br> Objekte
        each emojis.objects
          .emoji-tag(title= this) :{{this}}:
        .emoji-category <i class="mdi mdi-airplane"></i><br> Reise
        each emojis.trip
          .emoji-tag(title= this) :{{this}}:
        .emoji-category <i class="mdi mdi-shape-plus"></i><br> Symbole
        each emojis.symbols
          .emoji-tag(title= this) :{{this}}:
        .emoji-category <i class="mdi mdi-star"></i><br> Spezial
        each emojis.special
          .emoji-tag(title= this) :{{this}}:
          
    .chat-widget.latex-widget
      .formula-output
        .title LaTeX-Output:
        .help(title="Hilfe")
          i.mdi.mdi-help-circle
        .latex-output
      .formula-input
        textarea#latex-textarea(placeholder="LaTeX-Formel eingeben ...")
