$green: #6affbe

section.chat
  position: absolute
  top: 0px
  right: 0px
  padding: 0px 10px 100px !important
  border-right: solid 1px #ccc
  overflow-y: scroll

  .message
    position: relative
    margin: 10px 0

    img.profileimage
      position: absolute
      width: 35px
      height: 35px
      border-radius: 50%

    .online-status
      position: absolute
      top: -3px
      right: -3px
      width: 13px
      height: 13px
      border: solid 2px #f5f5f5
      border-radius: 50%

      &.online
        background-color: #0c7
      &.offline
        background-color: #f66
      &.idle
        background-color: #f90

    .bubble
      display: inline-block
      margin-left: 45px
      padding: 10px
      width: calc(100% - 45px)
      height: auto
      background: linear-gradient(#09f 0%, #0cf 100%)
      color: rgba(0, 0, 0, 0.4)
      font-size: 14px
      line-height: 16px
      font-weight: 400
      box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.1)
      border-radius: 5px
      word-wrap: break-word

      img.emoji
        width: 1.2em !important
        height: 1.2em !important

      a
        color: #fff
        font-weight: 300
        text-decoration: none
        &:hover
          text-decoration: underline

    .justemojis
      display: inline-block
      margin-left: 30px
      padding: 4px 5px 5px 10px
      width: calc(100% - 45px)
      height: auto
      color: rgba(0, 0, 0, 0.4)
      font-size: 30px
      line-height: 16px
      word-wrap: break-word


    &.other
      img.profileimage
        right: 0

      .bubble
        margin-left: 0 !important
        background: linear-gradient(#0c7 0%, #0f7 100%)
        text-align: right

      .justemojis
        margin-left: 0 !important
        padding: 4px 0px 5px 5px
        text-align: right

      .isTyping
        margin-left: 160px
        height: 35px
        color: #aaa
        font-size: 20px
        line-height: 35px

  textarea#chat-textarea
    box-sizing: content-box
    position: fixed
    bottom: 10px
    margin-left: -10px
    padding: 12px 65px 12px 10px
    width: 181px
    max-height: 120px
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1)


  .emojis-button, .more-button
    position: fixed
    bottom: 23px
    margin-left: 190px
    color: #aaa
    font-size: 13px
    cursor: pointer
    transition: all 0.3s, color 0.3s 0.2s
    &:hover
      opacity: 0.8

    &.close
      color: #f66

  .more-button
    margin-left: 216px

  .more-widget
    position: fixed
    bottom: -40px
    margin-left: 115px
    padding: 11px 10px 10px 11px
    width: 120px
    height: 40px
    background-color: #fff
    color: #aaa
    font-size: 13px
    word-spacing: 10px
    border-radius: 5px
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2)
    z-index: 3
    transition: all 0.6s cubic-bezier(0.705, -0.355, 0.27, 1.35)
    &.showing
      bottom: 50px

    .button
      display: inline-block
      cursor: pointer
      transition: all 0.3s
      &:hover
        opacity: 0.8

  .emojis-widget
    position: fixed
    bottom: -250px
    width: 236px
    height: 250px
    background-color: #fff
    text-align: center
    overflow-y: scroll
    border: solid 10px #fff
    border-radius: 5px
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2)
    z-index: 3
    transition: all 0.6s cubic-bezier(0.705, -0.355, 0.27, 1.35)
    &.showing
      bottom: 50px

    .emoji-category
      margin: 20px 0 7px
      padding-bottom: 5px
      color: #888
      font-size: 14px
      border-bottom: solid 1px #ddd
      &:first-of-type
        margin-top: 0px

      svg.icon
        color: #ddd

    .emoji-tag
      display: inline-block
      margin: -2px 0px
      font-size: 20px
      cursor: pointer
      &:hover
        opacity: 0.6

  .latex-widget
    position: fixed
    bottom: -250px
    width: 236px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2)
    z-index: 3
    transition: all 0.6s cubic-bezier(0.705, -0.355, 0.27, 1.35)
    &.showing
      bottom: 50px

    .formula-output
      padding: 10px
      height: 120px

      .title
        display: inline-block
        float: left
        color: #09f
        font-size: 14px

      .help
        display: inline-block
        float: right
        color: #aaa
        font-size: 13px
        cursor: pointer
        transition: all 0.3s
        &:hover
          opacity: 0.8

      .latex-output
        margin-top: 40px
        text-align: center

        img
          max-width: 200px
          opacity: 0.8

    .formula-input
      textarea#latex-textarea
        box-sizing: content-box
        margin: 0
        padding: 10px
        width: 216px
        height: 50px
        max-height: 100px
        border-top: solid 1px #ddd
