template(name="checklist")
  section.checklist
    form#add-task-form
      input#todo(type="text" placeholder="Aufgabe hinzufügen")
      button(type="submit" title="Hinzufügen").plus
        i.mdi.mdi-playlist-plus
      input#file(type="file")  
      .mediainputs
        .button.media-emoji(title="Emojis")
          i.mdi.mdi-emoticon
        input.image-upload(type="file" style="display: none")
        .button.media-image(title="Bild")
          i.mdi.mdi-image
        .button.media-code(title="Code")
          i.mdi.mdi-code-tags
        .button.media-code(title="LaTeX-Formel")
          i.mdi.mdi-sigma
        .button.media-documents(title="Andere Dateien")
          i.mdi.mdi-folder-outline
    
    if tasksExist
      .tasks.notdone
        +sortable items=notDoneTasks group="notDone" options=sortableOptions
          .task(data-id="{{_id}}")
            input.check(type="checkbox" id="{{_id}}")
            label(for="{{_id}}") {{#autolink}} {{#emoji}} {{content}} {{/emoji}} {{/autolink}}
            .handle
              i.mdi.mdi-drag
            .actions(data-id="{{_id}}")
              .action.info(title="Info")
                i.mdi.mdi-information
              .action.edit(title="Bearbeiten")
                i.mdi.mdi-pen
              .action.delete(title="Löschen")
                i.mdi.mdi-delete
            .infobox
              .header-icon
                i.mdi.mdi-information
              .information
                .row.user <i class="mdi mdi-account"></i> {{creator}}
                .row.clock <i class="mdi mdi-clock"></i> {{moment}}
                .row.check <i class="mdi mdi-check"></i> Noch nicht erledigt
        
      if doneTasksExist
        .seperator
          i.mdi.mdi-check
          | Erledigte Aufgaben:
          span.deleteDone(title="Erledigte löschen")
            i.mdi.mdi-backspace
        .tasks.done
          +sortable items=doneTasks group="done" options=sortableOptions
            .task(data-id="{{_id}}")
              input.check(type="checkbox" id="{{_id}}" checked)
              label(for="{{_id}}") {{#autolink}} {{#emoji}} {{content}} {{/emoji}} {{/autolink}}
              .handle
                i.mdi.mdi-drag
              .actions(data-id="{{_id}}")
                .action.info(title="Info")
                  i.mdi.mdi-information
                .action.edit(title="Bearbeiten")
                  i.mdi.mdi-pen
                .action.delete(title="Löschen")
                  i.mdi.mdi-delete
              .infobox
                .header-icon
                  i.mdi.mdi-information
                .information
                  .row.user <i class="mdi mdi-account"></i> {{creator}}
                  .row.clock <i class="mdi mdi-clock"></i> {{moment}}
                  .row.check <i class="mdi mdi-check"></i> {{doneStatus}}
    else
      .placeholder Füge Aufgaben hinzu, welche ihr zusammen lösen könnt
        .emojis {{> emoji ":couple::white_check_mark:"}}
