template(name="firstlogin")
  .popup.first-login-popup

    .hirni
      img(src="/images/hirni.png")

    svg.triangle
      polygon(points="30,0 30,50 0,25")


    .bubble
      .content-slider
        .content
          .heading Hallöle
          .i-am Ich bin <i class="blue">Hirni</i>
          p Wie’s aussieht bist du zum<br>
            | ersten Mal hier …<br><br>
            | Keine Sorge! {{> emoji ":wink:"}}<br><br>
            | Ich helf dir bei deinen ersten<br>
            | Schritten und wenn du mal Probleme<br>
            | mit der Seite hast.
          
        .content
          .heading Suche ein Paket aus
          .subheading Für einen Döner im Monat gibt's Premium
          
          .package.light
            .header Light
              .cost 0.00€ / Monat
            .row 1 Gruppe erstellen
            .row Mitglied in 2 Gruppen
            .row Nicht so viel ...
            .check
              i.mdi.mdi-check
            .package-info Immer gratis
            
          .package.premium
            .header Premium
              .cost 3.00€ / Monat
            .row So viele du willst
            .row Unbegrenzt
            .row Personalisierung
            .check
              i.mdi.mdi-check
            .package-info 1. Monat gratis
          
        .content
          .heading Erstelle eine Gruppe
          .subheading Hier und jetzt entsteht deine erste Gruppe
          
          form#create-first-group
            input#name(type="text" placeholder="Name der Gruppe" autocomplete="false")
            .invite-people
              i.mdi.mdi-at
              i.mdi.mdi-account-multiple
              br
              textarea#members(placeholder="Emails der Mitglieder (Durch ',' getrennt)")
            button Erstellen
            
          
        .content
          .heading Das war's schon
          .subheading Alles klar, du kannst loslegen {{> emoji ":rocket:"}}
          br
          p Wenn du Lust hast kannst du dein Profil noch ein wenig <a href="#">personalisieren</a>.<br><br>
            | Da du das <span class="blue">Premium</span> Packet ausgesucht hast, ist dein erster Monat bei uns
            | gratis. {{> emoji ":smile:"}}
          .big-emoji {{> emoji ":v:"}} <br><br> Viel Spaß!
          

      .step-indicator(data-step="{{firstLoginStep}}")
        .step
        .step
        .step
        .step

      .button.prev-step(title="Zurück")
        i.mdi.mdi-chevron-left
      .button.next-step(title="Weiter")
        i.mdi.mdi-chevron-right
      .button.done(title="Fertig")
        i.mdi.mdi-check
