template(name="footer")
  footer
    img.footer-logo(src="/images/symbol.png")
    .links
      .links-group
        a(href="#")
          i(class="mdi mdi-star")
          | Features
        a(href="#")
          i(class="mdi mdi-wallet")
          | Preise
        a(href="#")
          i(class="mdi mdi-blogger")
          | Blog
        a(href="#")
          i(class="mdi mdi-contact-mail")
          | Kontakt
      hr
      .links-group
        a(href="#")
          i(class="mdi mdi-file-document-box")
          | Impressum
        a(href="#")
          i(class="mdi mdi-file-document-box")
          | AGB
        a(href="#")
          i(class="mdi mdi-lock")
          | Privatsphäre
        a(href="#")
          i(class="mdi mdi-help")
          | Hilfe
    .social-links
      a(href="http://facebook.com", target="_blank", title="Facebook").link.facebook
       i.mdi.mdi-facebook
      a(href="http://twitter.com", target="_blank", title="Twitter").link.twitter
        i.mdi.mdi-twitter
      a(href="http://instagram.com", target="_blank", title="Instagram").link.instagram
       i.mdi.mdi-instagram
    .made-by
      .code
        i.mdi.mdi-code-tags
      | with
      .heart
        i.mdi.mdi-heart
      | by Tobiasz Walczak in Berlin
